<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />

        {% block og %}
        {% if article %}
        {% if article.title %}
        <meta property="og:title" content="{{ article.title|striptags }}" />
        {% endif %}
        {% if article.num %}
        <meta property="og:image" content="{{ SITEURL }}/images/editions/e-privacy-{{article.num}}.png" />
        {% endif %}
        {% if article.url %}
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
        {% endif %}
        {% else %}
        <meta property="og:title" content="{{ SITENAME }}" />
        <meta property="og:image" content="{{ SITEURL }}/images/editions/{{ IMAGE }}" ollo="1" />
        <meta property="og:url" content="{{ SITEURL }}/" />
        {% endif %}
        <meta property="og:description" content="{{ SITENAME }}" />
        {%endblock%}

        {% block redirect %}{% endblock %}
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

        <!-- link rel="stylesheet"
             href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />

        <!-- link rel="stylesheet"
             href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" -->

        <!--link rel="stylesheet"
              href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic"-->

	<link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico" />	
	
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/syntax.css">

        <script src="{{ SITEURL }}/theme/js/jquery.js"></script></head>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/lodash.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.countdown.js"></script>



<body>

<!-- Nav Bar -->
<nav>
  <div class="top-bar">
    <div class="row">
      <a href="/"><div id="top_img_left"></div></a>
      <div class="large-9 large-centered columns">
	    <h1><a href="{{ SITEURL }}/">
            {% block ptitle %}{{ SITENAME }}{%endblock%}
        </a></h1>
      </div>
      <a href="http://www.winstonsmith.org"><div id="top_img_right"></div></a>
    </div>
  </div>

  <!-- Show menu items and pages -->
  <div class="row">
    <div class="large-9 columns">
      <ul class="button-group navigation">
	    {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}" class="button secondary small">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}" class="button secondary small">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns">
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">
        <!-- Sidebar -->

        {% block evinfo %}{% endblock evinfo %}

        {% include 'countdown.html' %}
        {% include 'pws-button.html' %}

        {% if THIS %}
        <h5 class="sidebar-title">{{ THIS_TITLE  }}</h5>
        <ul class="side-nav">
        {% for name, link in THIS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}


        <!--
        <h5 class="sidebar-title">SITO</h5>
        <ul class="side-nav">
            <li><a href="{{ SITEURL }}/archives.html">Archivi</a>
            <li><a href="{{ SITEURL }}/tags.html">Tags</a>
            {% if FEED_RSS %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
            {% endif %}
            {% if FEED_RSS %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
            {% endif %}
        </ul>

        {% if categories %}
        <h5 class="sidebar-title">Categorie</h5>
        <ul class="side-nav">
        {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        -->

        {% if PREVS %}
        <h5 class="sidebar-title">EDIZIONI</h5>
        <ul class="side-nav">
        {% for name, link in PREVS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if LINKS %}
        <h5 class="sidebar-title">LINKS</h5>
        <ul class="side-nav">
        {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if SOCIAL %}
        <h5 class="sidebar-title">SOCIAL</h5>
        <ul class="side-nav">
        {% for name, link in SOCIAL %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% block oldsite %}{% endblock oldsite %}


        <!-- {% include 'savethelink.html' %} -->

        <!-- End Sidebar -->
    </aside>
    <!-- End Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-12 columns footer">
            Tutto il contenuto di questo sito è
            &copy; <a href="http://pws.winstonsmith.org">Winston
            Smith</a> — I contenuti sono distribuiti sotto
            la <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">Gnu
            General Public License 2.0</a> ove non altrimenti
            specificato. <br/>Se riscontri un errore su queste pagine manda
            una mail
            al <a href="mailto:webmaster@winstonsmith.org">webmaster</a>.<br/>
            Nessun cookie è stato iniettato sul tuo computer da questo
            sito (il fatto che siamo obbligati a dirtelo non rende
            meno stupida la legge che ci forza a farlo).
          </div>
        </div>
    </div>
</footer>
{% include 'piwik.html' %}
{% include 'mautic.html' %}
</body>
</html>
