{% extends "base.html" %}
{% block evinfo %}
{% if articles %}
{% set article = articles[0] %}
{% include 'evinfo.html' %}
{% endif %}
{% endblock evinfo %}

{% block title %}
{% if articles %}
{% set article = articles[0] %}
{% if article.num %}e-privacy {{ article.num }} — {% endif %}
{{ article.title|striptags }}
{% endif %}
{% endblock title %}

{% block ptitle %}
{% if articles %}
{% set article = articles[0] %}
{% if article.pagetitle %}
{{ article.pagetitle }}
{% else %}
{% if article.num %}e-privacy {{ article.num }}
{% if article.year %} <i>({{ article.year }})</i>{% endif %}<br/>
{% endif %}
{{ article.title }}
{% endif %}
{% endif %}
{% endblock ptitle %}

{% block content_title %}{% endblock %}

{% block content %}
{% if articles %}
        {% set article = articles[0]  %}
        {% if article.css  %}<style>{{ article.css }}</style>{% endif  %}
        <article>
          {{ article.content }}
          
          {% include 'event_supporters.html' %}
          {% include 'article_infos_bottom.html' %}
          {# % include 'comments.html' % #}
        </article>
{% endif %}
{% endblock content %}
