{% extends "base.html" %}

{% block og %}
<meta property="og:title" content="{{ article.title|striptags }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:description" content="{{ article.title|striptags }}" />
{% endblock %}

{% block title %}
{% if article.num %}e-privacy {{ article.num }} — {% endif %}
{{ article.title|striptags }}
{% endblock  %}

{% block ptitle %}{{ article.pagetitle }}{% endblock  %}

{% block links %}
<link rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
{% endblock  %}

{% block content %}
<article><div id="map" style="height: 600px;"></div>
<script src="/theme/js/leaflet.js"></script>
<script src="/extra/js/eprivacy_editions.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script>
  // Inizializza la mappa centrata sull'Italia
  const map = L.map('map').setView([43.77, 11.25], 6);

  // Aggiungi il layer delle tile
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  // Crea il gruppo di cluster
  const markers = L.markerClusterGroup();

  eprivacyLocations.forEach(loc => {
  const popupContent = `
    <table style="border-collapse: collapse; width: 100%; font-size: 0.9em;">
      <tr style="background-color: #f0f0f0;"><td><strong>Anno</strong></td><td>${loc.year}</td></tr>
      <tr><td><strong>Stagione</strong></td><td>${loc.when}</td></tr>
      <tr style="background-color: #f0f0f0;"><td><strong>Città</strong></td><td>${loc.city}</td></tr>
      <tr><td><strong>Luogo</strong></td><td>${loc.where}</td></tr>
      <tr style="background-color: #f0f0f0;"><td><strong>Link</strong></td><td><a href="${loc.link}" target="_blank">Vai alla pagina</a></td></tr>
    </table>
  `;
  const marker = L.marker([loc.lat, loc.lon]).bindPopup(popupContent);
  markers.addLayer(marker);
  });
  map.addLayer(markers);
</script>
</article>
{{ article.content }}
{% endblock %}
